
@{
	ViewData["Title"] = "Edit Wallet";
}

<h1>Add New Wallet User</h1>
<div class="container-fluid">
		<div class="mb-3">
			<label for="Username" class="form-label">User Name</label>
			<input type="text" value="@Model.WalletName" name="WalletName" class="form-control" id="Username">
		</div>
		<div class="mb-3">
			<label for="Fullname" class="form-label">Full Name</label>
			<input type="text" name="Username" value="@Model.Username" class="form-control" id="Fullname">
		</div>
		<div class="mb-3">
			<label for="MobileNumber" class="form-label">Mobile Number</label>
			<input type="text" name="MobileNo" value="@Model.MobileNo" class="form-control" id="MobileNumber">
		</div>
		<div class="mb-3">
			<label for="Balance" class="form-label">Balance</label>
			<input type="text" name="Balance" value="@Model.Balance" class="form-control" id="Balance">
		</div>
		<div class="mb-3">
			<a href="/Wallet" class="btn btn-secondary">Cancel</a>
		<button type="submit" data-id="@Model.WalletId" class="btn btn-success" id="btnUpdate">Update</button>
		</div>
</div>
@section scripts{
	<script>
		$('#btnUpdate').click(function(){
			let item = {
				WalletId: $(this).data('id'),
				WalletName: $('#Username').val(),
				Username: $('#Fullname').val(),
				MobileNo: $('#MobileNumber').val(),
				Balance: $('#Balance').val(),
			};

			$.ajax({
				url: '/Wallet/Update',
				type: 'POST',
				data: {requestModel : item },
				success: function(response) {
					console.log({response});
					if(!response.IsSuccess){
						alert("Error: " + response.Message);
						return;
					}
					alert(response.Message);
					window.location.href = "/Wallet/Index";
				},
				error: function(request, status, error) {
					alert(request.responseText);
				}
			});
		});
	</script>
}
